$color:red;

$theme-colors: (
  "primary": #0f7c61,
  "danger": #ff4136
);

ul {
    font-size:14px;
    color: $color;
}

ol{
    font-size:18px;
    color:$color;
}

.carousel {
  width:360px;
  height:260px;
}
@import "node_modules/bootstrap/scss/bootstrap";
